@main-color: #008D97;
///////////////HOME.INDEX///////////////////////////
////////////////////////////////////////////////////

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  margin: 5px;
}

.nav li{
    display: inline;
}

.nav-logo {
  margin-top: 3px;
  height: 30px;
  width: 30px;
}

.jumbotron {
  background-image:url('http://37.media.tumblr.com/6755c171c47e020419102fb49d3e6f5e/tumblr_n381rrGEmG1st5lhmo1_1280.jpg');
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.jumbotron a {
  font-size: 20px;
  color: black;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
    }

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

.logout {
  display: inline-block;
  margin: 1px;
}

#loginName {
  display: inline;
  margin-right: 5px;
}

/////////////Login Page /////////////////////////////////////
///////////////////////////////////////////////////////////

.login-container {
  margin-top: 50px;
}

.col-md-12 {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}

form#login {

  input[type='password'], input[type='email'] {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px @main-color;
    color: green;
  }
  button#login{
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    background-color: @main-color;
    color: #FFFFFF;
  }
}

/////////////REGISTER PAGE ///////////////////////////////
//////////////////////////////////////////////////////////
.register-container {
  margin-top: 50px;
}


form#register {
  input[type='email'], input[type='name'], input[type='zipcode'] {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }

  button#register{
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    background-color: @main-color;
    color: #FFFFFF;
  }
}

//////////////VERIFY PAGE////////////////////////////////
/////////////////////////////////////////////////////////
.verify-container {
  margin-top: 50px;
}


form#verify {
  input[type='password'] {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }

  button#verify{
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    background-color: @main-color;
    color: #FFFFFF;
  }
}


/////////////Edit Profile PAGE ///////////////////////////////
//////////////////////////////////////////////////////////
.edit-container {
  margin-top: 50px;
}


form#update {
  input[type='email'], input[type='name'], input[type='zipcode'] {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }

  button#update{
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    background-color: @main-color;
    color: #FFFFFF;
  }
}

//////////////WELCOME JADE EMAIL////////////////////////////////
/////////////////////////////////////////////////////////
.welcome-container {
  margin-top: 50px;
}

.welcomeImage {
  height: 50%;
  width: 50%;
}

////////////////PROFILE PAGE/////////////////////////////////
.profile-wrapper {
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
}

.interact {
  .btn{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
    ul {
    list-style-type: none;
      }
  position: relative;
  top: 50px;
  // left: 800px;
  display: inline-block;
  // border: 1px solid black;
}

.profile-bar {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  // margin: 0 auto;
  width: 90%;
  height: 200px;

  border: 1px solid black;
  background-image: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  text-align: center;

  h1 {
    line-height: 200px;
    color: white;
  }
}

.interact, .info {

    ul{
    list-style-position: inside;
    }
}


////////////ABOUT PAGE //////////////////////////////////
/////////////////////////////////////////////////////////
// .about {
//     background-image: url('http://picjumbo.picjumbocom.netdna-cdn.com/wp-content/uploads/GOPR0024-1300x975.jpg');
//     background-size: cover;
//     height: 500px;
//
// }
