@main-color: #008D97;
///////////////HOME.INDEX///////////////////////////
/////////////nav bar///////////////////////////////////////

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  margin: 5px;
}

.nav li{
    display: inline;
}

.btn.btn-default#nav {
color: #5a5a5a;
font-size: 11px;
font-weight: bold;
// padding: 14px 10px;
text-transform: uppercase;
}

.nav-logo {
  margin-top: 3px;
  height: 30px;
  width: 30px;
}


.logout {
  display: inline-block;
  margin: 1px;
}

#loginName {
  display: inline;
  margin-right: 5px;
}


/////////////////jumbobtron//////////////////////////////////////


.jumbotron {
  background-image:url('http://37.media.tumblr.com/6755c171c47e020419102fb49d3e6f5e/tumblr_n381rrGEmG1st5lhmo1_1280.jpg');
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.jumbotron a {
  font-size: 20px;
  color: red;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

/////////////////////////.learn-more////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////


.learn-more {
  background-color: #ffffff;
  height: 350px;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}


.learn-more a {
  color: @main-color;
}


/////////////////////.jumbotron-two/////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////


.jumbotron-two {
  // background-image:url('https://s3.amazonaws.com/ooomf-com-files/3WEdcurTfKyrW3RITCa0_DSC07884.jpg');
  height: 300px;
  background-size: cover;

    input#zip{
      display:block;
      width: 40%;
      min-width: 230px;
      margin: 15px auto;
      padding: 15px;
      background-color: #fbfbfb;
      border:none;
      border-bottom: 3px @main-color;
      color: green;
      text-align: center;
  }

    button.btn.btn-default#add {
      webkit-appearance:none;
      display:block;
      width: 220px;
      margin: 15px auto;
      border:3px solid white;
      padding:10px 0px;
      background-color: @main-color;
      color: #FFFFFF;
    }
}

.jumbotron-two h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron-two p {
  font-size: 20px;
  color: #fff;
}


.jumbotron-two a {
  font-size: 20px;
  color: red;
}


#map {
  border: 1px solid black;
  border-top-left-radius: 50px 100px;
  border-top-right-radius: 50px 100px;
  border-bottom-left-radius: 50px 100px;
  border-bottom-right-radius: 50px 100px;
  width: 560px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #888888;
}

////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////


.do-more {
  height: 600px;
  background-color: #ffffff;
}

.do-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.do-more a {
  color: @main-color;
}


//////////////////////////////////////////////
///////////////////////////////////////////////

.social-guides {
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
}

.social-guides h5 {
    color: #5a5a5a;
    font-size: 15px;
    margin-left: 25px;
}

.social-guides p {
    font-size: 15px;
    margin-bottom: 13px;
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
    margin: 5px;
}

.social-guides a {
  underline: none;
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  margin: 5px;
}

/////////////////////////////////////////////////////////////////

.footer-logo {
  margin-top: 3px;
  height: 200px;
  width: 200px;
}

/////////////Login Page /////////////////////////////////////
///////////////////////////////////////////////////////////

.login-container {
  margin-top: 50px;
}

.col-md-12 {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}

form#login {

  input[type='password'], input[type='email'] {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px @main-color;
    color: green;
  }
  button#login{
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    background-color: @main-color;
    color: #FFFFFF;
  }
}

/////////////REGISTER PAGE ///////////////////////////////
//////////////////////////////////////////////////////////
.register-container {
  margin-top: 50px;
}


form#register {
  input[type='email'], input[type='name'], input[type='zipcode'] {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }

  button#register{
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    background-color: @main-color;
    color: #FFFFFF;
  }
}

//////////////VERIFY PAGE////////////////////////////////
/////////////////////////////////////////////////////////
.verify-container {
  margin-top: 50px;
}


form#verify {
  input[type='password'] {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }

  button#verify{
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    background-color: @main-color;
    color: #FFFFFF;
  }
}


/////////////Edit Profile PAGE ///////////////////////////////
//////////////////////////////////////////////////////////
.edit-container {
  margin-top: 50px;
}


form#update {
  input[type='email'], input[type='name'], input[type='zipcode'] {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }

  button#update{
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    background-color: @main-color;
    color: #FFFFFF;
  }
}

//////////////WELCOME JADE EMAIL////////////////////////////////
/////////////////////////////////////////////////////////
.welcome-container {
  margin-top: 50px;
}

.welcomeImage {
  height: 50%;
  width: 50%;
}



////////////////PROFILE PAGE/////////////////////////////////
.profile-wrapper {
  margin: 0 auto;
  width: 80%;
  border-radius: 15px;
  background: white;
  -moz-box-shadow:     3px 5px 6px @main-color;
  -webkit-box-shadow: 3px 5px 6px @main-color;
  box-shadow:         3px 5px 6px @main-color;
  height: 600px;
}

h1.title {
  text-align: center;
}


h1.content-menu {
  display: inline;
  margin-left: 75px;
  color: @main-color;
}

p.btn.btn-default, a.btn.btn-default, .btn.btn-default {
  border: none;
  margin: 5px;
}

.head-shot-div {
  height: 200px;
}

.head-shot-image {
  // margin-top: 100px;
  margin-left: 25px;
  height: 100%;
  width: 100%;
  -moz-box-shadow:     1px 3px @main-color;
  -webkit-box-shadow: 1px 3px @main-color;
  box-shadow: 1px 3px @main-color;
  background-size: cover;
  background-image: url("http://www.adas-lv.com/wp-content/uploads/2012/07/default_avatar.png")


}

.head-shot-form {
  padding-top: 90px;
  margin-left: 10px;
}

.well#content-container {
  height: 450px;
  background-color: white;
}

thead#head{
  background-color: white;
}

//////////////////////////SEARCH PAGE/////////////////////////////////////

#search-container h4 {
  display: inline;
}

#search-container {
  input#ziptwo{
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px @main-color;
    color: green;
    text-align: center;
  }

  button.btn.btn-default#add {
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    background-color: @main-color;
    color: #FFFFFF;
  }
}


#map {
  border: 1px solid black;
  border-top-left-radius: 50px 100px;
  border-top-right-radius: 50px 100px;
  border-bottom-left-radius: 50px 100px;
  border-bottom-right-radius: 50px 100px;
  width: 600px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #888888;
  float: right;
}


/////////////////////////MESSAGES PAGE///////////////////////////////////////


// .interact {
//   .btn{
//     margin-left: 20px;
//     margin-right: 20px;
//     margin-top: 10px;
//     margin-bottom: 10px;
//   }
//     ul {
//     list-style-type: none;
//       }
//   position: relative;
//   top: 50px;
//   // left: 800px;
//   display: inline-block;
//   // border: 1px solid black;
// }
//
// .profile-bar {
//   margin-top: 20px;
//   margin-left: auto;
//   margin-right: auto;
//   // margin: 0 auto;
//   width: 90%;
//   height: 200px;
//
//
//   background-image: contain;
//   background-repeat: no-repeat;
//   border-radius: 15px;
//   text-align: center;
//
//   h1 {
//     line-height: 200px;
//     color: white;
//   }
// }
//
// .interact, .info {
//
//     ul{
//     list-style-position: inside;
//     }
// }


////////////ABOUT PAGE //////////////////////////////////
/////////////////////////////////////////////////////////
// .about {
//     background-image: url('http://picjumbo.picjumbocom.netdna-cdn.com/wp-content/uploads/GOPR0024-1300x975.jpg');
//     background-size: cover;
//     height: 500px;
//
// }
