//- extends ../shared/template
//-
//- block content
#search-container
  #map
  #info
    h4 List of help near you
    p list
    p list
    p list
    p list
    p list
    p list
    input#ziptwo(type='text', placeholder='Enter Zip Code')
    button.btn.btn-default#add Search

block scripts
  script(src='/js/es6/compiled/map.js')
