extends ../shared/template

block content
  .edit
    .edit-container
      .row
        .col-md-12
          h1 Edit Profile
          form#update(method='post', action='/users/ + u._id + /edit')
            input(type='name', name='name', autofocus=true, placeholder='Enter Name')
            input(type='email', name='email', autofocus=true, placeholder='Email Address')
            input(type='zipcode', name='zipcode', autofocus=true, placeholder='Enter Zipcode')
            button#update Update
