extends ../shared/template

block content

  .register
    .register-container
      .row
        .col-md-12
          h1= title
          form#register(method='post', action='/register')
            input(type='email', name='email', autofocus=true, placeholder='Email Address')
            button#register Register
