extends ../shared/template

block content
  .verify
    .verify-container
      .row
        .col-md-12
          h1= title
          form#verify(method='post', action='/verify/' + u._id)
            input(type='password', name='password', autofocus=true, placeholder='Enter Password')
            button#verify Set Password
