extends ../shared/template

block content
  .jumbotron
    .container
        h1 Rediscover Your Day
        p Pass off your smaller tasks and focus on what really matters.
        a(href='#') Learn More

  .learn-more
    .container
      .row
        .col-md-4
          h3 Welcome the Change
          p
            | Find a helping hand minutes away. Let Savers handle those jobs. Get back to the most important one.
          p
            a(href='/about') See how to get back time
        .col-md-4
          h3 Make An Impact
          p Helping your community could pay your bills or fund your next vacation.
          p
            a(href='#') Learn more about being a Saver
        .col-md-4
          h3 Trust and Safety
          p From Verified ID to our worldwide customer support team, we've got your back.
          p
            a(href='/trust') Learn about trust at LaborSaver

  .jumbotron-two
    .container
      .row
        .col-md-4
        .col-md-8
          input#zip(type='text', placeholder='Enter Zip Code', autofocus=true)
          button.btn.btn-default#add Search
          #map
        //- h1 Help a Neighbor, Get Paid
        //- p Pass off your smaller tasks and focus on what really matters.
        //- a(href='#') Learn More

  .learn-more
    .container
      .row
        .col-md-4
        .col-md-4
        .col-md-4

  .social-guides
    .container
      .row
        .col-md-4
          a(href='/')
            img.footer-logo(src='/img/lifesaver.png')
        .col-md-2
          h5 SOCIAL
          p
            a(href='#') Twitter
          p
            a(href='#') Facebook
          p
            a(href='#') Google+
          p
            a(href='#') Instagram
          p
            a(href='#') Blog
        .col-md-2
          h5 ABOUT US
          p
            a(href='#') Community
          p
            a(href='#') Outreach

        .col-md-2
          .thmubnail
            H5 CONTACT US
            p Help & Support
            p 1-800-555-5555
            P help@capstone.com
      .row
        .col-md-12
          p © 2014 Peak Nine Designs, All Rights Reserved — Built in Nashville. Live Life.
