extends ../shared/template

block content
  .jumbotron
    .container
        h1 Rediscover Your Day
        p Pass off your smaller tasks and focus on what really matters
        a(href='#') Now available in Nashville

  .learn-more
    .container
      .row
        .col-md-4
          .thumbnail#learn-more
            h4 FAST
            P Get experienced help around the corner
        .col-md-4
          .thumbnail#learn-more
            h4 SAFE
            p Background Checks for all workers
        .col-md-4
          .thumbnail#learn-more
            h4 EASY
            p  Make contact and plans in only a few clicks
      .row
        .container#howdoes
          .col-md-4
          .col-md-4
            h4 How does it work?
          .col-md-4
      .row
        .col-md-2
          .thumbnail#learn-more
        .col-md-8
          .thumbnail#learn-more
        .col-md-2
          .thumbnail#learn-more

  .jumbotron-two
    .container
      .row
        .col-md-3
        .col-md-6
          h1 Your Tasks, In Good Hands
        .col-md-3

          //- h1 Help a Neighbor, Get Paid
          //- p Pass off your smaller tasks and focus on what really matters.
          //- a(href='#') Learn More

  .do-more
    .container
      .row
        .col-md-4
        .col-md-4
        .col-md-4

  .social-guides
    .container
      .row
        .col-md-4
          a(href='/')
            img.footer-logo(src='/img/lifesaver.png')
        .col-md-2
          h5 SOCIAL
          p
            a(href='#') Twitter
          p
            a(href='#') Facebook
          p
            a(href='#') Google+
          p
            a(href='#') Instagram
          p
            a(href='#') Blog
        .col-md-2
          h5 ABOUT US
          p
            a(href='#') Community
          p
            a(href='#') Outreach

        .col-md-2
          .thmubnail
            H5 CONTACT US
            p Help & Support
            p 1-800-555-5555
            P help@workmates.com
      .row
        .col-md-12
          p © 2014 Workmates, All Rights Reserved —  Nashville, TN

block scripts
  script(src='/js/es6/compiled/map.js')
