extends ../shared/template

block content
  .jumbotron
    .container
        h1 Rediscover Your Day
        p Pass off your smaller tasks and focus on what really matters.
        a(href='#') Learn More

  .learn-more
    .container
      .row
        .col-md-4
          h3 Welcome the Change
          p
            | Find a helping hand minutes away. Let Savers handle those jobs. Get back to the most important one.
          p
            a(href='/about') See how to get back time
        .col-md-4
          h3 Make An Impact
          p Helping your community could pay your bills or fund your next vacation.
          p
            a(href='#') Learn more about being a Saver
        .col-md-4
          h3 Trust and Safety
          p From Verified ID to our worldwide customer support team, we've got your back.
          p
            a(href='/trust') Learn about trust at LaborSaver


  .neighborhood-guides
    .container
        h2 Meet your extra hands
        p
          | Not sure where to turn for help? Let our trusted helpers take that pesky task off of your plate.
        .row
          .col-md-4
            .thumbnail
              img(src='http://goo.gl/0sX3jq')
            .thumbnail
              img(src='http://goo.gl/an2HXY')
          .col-md-4
            .thumbnail
              img(src='http://goo.gl/Av1pac')
            .thumbnail
              img(src='http://goo.gl/vw43v1')
          .col-md-4
            .thmubnail
              img(src='http://goo.gl/0Kd7UO')
